enable
configure terminal

no ip igmp snooping

ip domain lookup
ip domain name netforge.net
ip name-server 172.16.20.10 172.16.25.10

! creation du mot de passe enable necessaire pour ssh
enable password Soleil1
! Creation d un utilisateur dans la base locale necessaire pour connexion ssh
username Admin password Soleil1

! Activation de la connexion ssh
crypto key generate rsa
1024
ip ssh version 2
ip ssh time-out 60
ip ssh authentication-retries 3
line vty 0 4
no transport input all
transport input ssh
login local
exit

interface loopback 0
ip address 10.0.0.2 255.255.255.255
no shutdown
exit

vlan 11
name vLAN_WAN_1
exit

vlan 12
name vLAN_WAN_2
exit

vlan 20
name vLAN_Server_Master
exit

vlan 25
name vLAN_Server_Backup
exit

vlan 30
name vLAN_Server_Public
exit

vlan 40
name vLAN_LAN_Admin
exit

vlan 110
name vLAN_LAN_Std
exit

interface vlan 20
ip address 172.16.20.253 255.255.255.0
standby 20 ip 172.16.20.254
standby 20 priority 90
no shutdown
exit

interface vlan 25
ip address 172.16.25.253 255.255.255.0
standby 25 ip 172.16.25.254
standby 25 priority 90
no shutdown
exit

interface vlan 30
ip address 172.16.30.253 255.255.255.0
standby 30 ip 172.16.30.254
standby 30 priority 90
no shutdown
exit

interface vlan 40
ip address 172.16.40.253 255.255.255.0
standby 40 ip 172.16.40.254
standby 40 priority 90
no shutdown
exit

interface vlan 110
ip address 192.168.10.253 255.255.255.0
standby 110 ip 192.168.10.254
standby 110 priority 90
no shutdown
exit

interface Ethernet 0/0
duplex full
description "vLAN WAN"
switchport trunk encapsulation dot1q
switchport mode trunk
switchport trunk allowed vlan none
switchport trunk allowed vlan add 11
switchport trunk allowed vlan add 12
no shutdown
exit

interface Ethernet 0/1
duplex full
description "LAN"
switchport trunk encapsulation dot1q
switchport mode trunk
switchport trunk allowed vlan none
switchport trunk allowed vlan add 40
no shutdown
exit

interface Ethernet 1/0
duplex full
description "WAN 2"
switchport mode access
switchport access vlan 12
no shutdown
exit

interface Ethernet 2/0
duplex full
description "trunk sSRV"
switchport trunk encapsulation dot1q
switchport mode trunk
switchport trunk allowed vlan none
switchport trunk allowed vlan add 20
switchport trunk allowed vlan add 25
switchport trunk allowed vlan add 30
no shutdown
exit

interface Ethernet 3/0
duplex full
description "trunk WAN vers sCore-1"
switchport trunk encapsulation dot1q
switchport mode trunk
switchport trunk allowed vlan none
switchport trunk allowed vlan add 11
switchport trunk allowed vlan add 12
no shutdown
exit

interface Ethernet 3/1
duplex full
description "trunk Std vers sCore-1"
switchport trunk encapsulation dot1q
switchport mode trunk
switchport trunk allowed vlan none
switchport trunk allowed vlan add 40
switchport trunk allowed vlan add 110
no shutdown
exit

interface Ethernet 3/2
duplex full
description "trunk SRV vers sCore-1"
switchport trunk encapsulation dot1q
switchport mode trunk
switchport trunk allowed vlan none
switchport trunk allowed vlan add 20
switchport trunk allowed vlan add 25
switchport trunk allowed vlan add 30
no shutdown
exit

exit
write memory
