enable
configure terminal

no ip igmp snooping

ip domain lookup
ip domain name netforge.net
ip name-server 172.16.20.10 172.16.25.10

! creation du mot de passe enable necessaire pour ssh
enable password Soleil1
! Creation d un utilisateur dans la base locale necessaire pour connexion ssh
username Admin password Soleil1

! Activation de la connexion ssh
crypto key generate rsa
1024
ip ssh version 2
ip ssh time-out 60
ip ssh authentication-retries 3
line vty 0 4
no transport input all
transport input ssh
login local
exit

interface loopback 0
ip address 10.0.0.2 255.255.255.255
no shutdown
exit

vlan 25
name vLAN_Server_Master
exit

interface Ethernet 0/0
duplex full
description "sSRV"
switchport mode access
switchport access vlan 25
no shutdown
exit

interface Ethernet 1/0
duplex full
description "DC_Master"
switchport mode access
switchport access vlan 25
no shutdown
exit

interface Ethernet 0/0
duplex full
description "GLPI"
switchport mode access
switchport access vlan 25
no shutdown
exit

exit
write memory
